/*General CSS */

html{
    font-size: 62%;
    box-sizing: border-box;
}
body{
    margin:0;
    height: 100vh;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.grid-container{
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 8rem 1fr 4rem;
    height: 100%
}

/* Header */
header{
    grid-area: header;
    background-color: #1D2E79;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
header a{
    color:#ffffff;
    padding: 1rem;
    
}
a{
    text-decoration: none;
}
a.brand {
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
a.hover {
    color: #EEC153;
}


/* Main */
main{
    grid-area: main;
    padding:1rem;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
    
}

h2 {
    font-size: 1.6rem;
    padding: 1rem 0;
    color:#1D2E79;
}

img {
    border-radius: .5rem;
}
img.medium {
    width: 100%;
    max-width: 29rem;
}
.card{
    border: .1rem grey solid;
    border-radius: .5rem;
    margin: 1rem;
    background-color: rgb(235, 231, 231);
}

.card-body{
    padding: 1rem;
}

.card-body > * {
    margin-bottom: .5rem;

}

.rating span{
    color: #EEC153;
    
}

.price {
    font-size: 1.6rem;
}

/* Footer */
footer{
    grid-area: footer;
    background-color: #2A52BD;
    color: #ffffff;
}
.row.center{
    justify-content: center;
}